html,
body {
    font-family: 'Roboto', 'Helvetica', 'sans-serif' !important;
    font-size: 16px;
}

.demo-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

.demo-layout .mdl-layout__header .mdl-layout__drawer-button .material-icons {
    margin-top: 12px;
}

.mdl-layout__drawer .avatar {
    margin-bottom: 16px;
}

.demo-drawer {
    border: none;
}

.demo-layout .demo-header .mdl-layout__header-row {
    justify-content: center;
    padding: 0;
}


/* iOS Safari specific workaround */

.demo-drawer .mdl-menu__container {
    z-index: -1;
}

.demo-drawer .demo-navigation {
    z-index: -2;
    background-color: #3F51B5;
}


/* END iOS Safari specific workaround */

.demo-drawer .mdl-menu .mdl-menu__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.demo-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
}

.demo-avatar-dropdown {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.demo-navigation {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.demo-layout .demo-navigation .mdl-navigation__link {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 500;
}

.demo-layout .demo-navigation .mdl-navigation__link:hover {
    background-color: #00BCD4;
    color: #37474F;
}

.demo-navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.56);
    margin-right: 32px;
}

.demo-content {
    max-width: 1080px;
}

.demo-charts {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0 !important;
}

#pto-calandar-heading,
#pto-chart-heading {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    background-color: #3f51b5;
    color: white;
}

#calendar-div {
    margin-top: 0;
}

#pto-table {
    border: none;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

#pto-table .mdl-checkbox input {
    font-family: 'Roboto', 'Helvetica', 'sans-serif' !important;
}

#pto-table td,
#pto-table th {
    padding: 5px !important;
    text-align: center !important;
    font-size: 16px;
}

#availability-chart-svg {
    color: #4CAF50;
    height: 110px;
}

#current-user {
    font-size: 18px;
    font-weight: bold;
}

#current-team {
    font-weight: bold;
}

#calendar-date {
    text-align: center;
    width: 100%;
    color: rgb(136, 136, 136);
    font-weight: bold;
    font-size: 16px;
}

.piggy-icon {
    height: 24px;
    width: 24px;
}